* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  background: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.headerCont {
  background-color: lightblue;

  min-height: 10vh;
}

.headerTitle {
  font-size: 400%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 100%;
}
