@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap");

.headerCont {
  background-color: rgb(0, 18, 24);

  min-height: 10vh;
}

.headerTitle {
  color: rgb(255, 255, 255);
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100%;

  user-select: none;
}

.headerTitle > span {
  font-family: Oswald;
  font-size: 70px;
}

.headerTitle > img {
  width: 70px;
  height: 70px;
}
